
<hr />

<footer style="text-align: center">
    <small><p>To jest wersja demonstracyjna lokalnego serwisu. Serwis zawiera
            przykładowe dane w celu zaprezentowania funkcjonalności.</p></small>
    <p>Copyright © 2016 <a target="_blank" href="http://rkarkut.pl/portfolio">rkarkut.pl</a></p>
</footer>

<script src="/site/js/jquery.min.js"></script>
<script src="/site/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>