<footer>
    <div class="">
        <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
<!-- /page content -->

</div>

</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

<script src="/admin/js/bootstrap.min.js"></script>

<script src="/admin/js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<!-- daterangepicker -->
<script type="text/javascript" src="/admin/js/datepicker/daterangepicker.js"></script>

<script src="/admin/js/custom.js"></script>

<!-- flot js -->
<!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="/admin/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="/admin/js/flot/date.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.spline.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/admin/js/flot/curvedLines.js"></script>
<script type="text/javascript" src="/admin/js/flot/jquery.flot.resize.js"></script>

<!-- worldmap -->
<script type="text/javascript" src="/admin/js/maps/jquery-jvectormap-2.0.1.min.js"></script>
<script type="text/javascript" src="/admin/js/maps/gdp-data.js"></script>
<script type="text/javascript" src="/admin/js/maps/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript" src="/admin/js/maps/jquery-jvectormap-us-aea-en.js"></script>
</body>

</html>
