{% include '/site/partials/_header.twig' %}

<div class="container">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Konto</h3>
                </div>
                <div class="panel-body">

                   Dane konta

                </div>
            </div>


        </div>
        <div class="col-lg-4"></div>
    </div>

</div>

{% include '/site/partials/_footer.twig' %}